{% extends 'todo/base.html' %}

{% block title %}Home{% endblock %}



{% block content %}
<h1 class="mt-4 text-white bg-blue-500 rounded-xl">Schedule Made Simple</h1>


<br>

<form method="post" action="." class="mb-4 mt-3">
    {% csrf_token %}
 
    Title:{{ form.title }}
    <input type="button">
      <button class="mt-2 mb-2 py-1 px-2 bg-green-600 hover:bg-green-300 text-white rounded-xl">Create Todo</button>
    </form>
    {% for todo in todos %}
        <div>
            <br>
            <a href="{% url 'todo:update' todo.id %}" class="mb-4 mt-4 bg-green-400 text-white rounded-xl">Update</a>
            <a href="{% url 'todo:delete' todo.id %}" class="mb-4 mt-4 bg-red-400 text-white rounded-xl">Delete</a>
            
            {% if task.complete == True %}
            <strike>{{ todo }}</strike>
            {% else %}
            <span>{{ todo }}</span>
            {% endif %}
        </div>
    {% endfor %}
{% endblock %}

